form{
 
    margin-top: 35%;
    padding: 50px;
    background-color: rgb(12, 93, 169);
    }
     
     
    .btn{
     
    margin-top: 5%;
     
    }
     
    .pri{
    height: 900px;
     
    }
      .m3{
    height: 900px;
      }
      i{
        margin-top: 10%;
       
      }
      body{
        background-color: darkblue;
      }